.c-button {
  display: flex;
  display: inline-block;
  font: 400 11px system-ui;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  text-transform: uppercase;
}

.btn-group button {
  background-color: #04AA6D; /* Зеленый фон */
  border: 1px solid green; /* Зеленая рамка */
  color: white; /* Белый текст */
  padding: 50px 50px; /* Некоторый отступ */
  cursor: pointer; /* Иконка указателя/руки */
  float: left; /* Выстраиваем кнопки рядом друг с другом */
  margin-top: 210px;
  margin-left: 75px;
  color: #222;
  font: bold 25px Arial;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Исключаем двойную рамку */
}

/* Сбрасываем обтекание (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Добавляем фон при наведении курсора */
.btn-group button:hover {
  background-color: #00784a;
}

